.post-head > h1 {
  color: #00adb5;
  font-size: 3rem;
}

.post-head > h3 {
  color: #eee;
  font-size: 1.5rem;
}

.input-description {
  background-color: #393e46;
  color: #eee;
}

#control-location {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

#input-price {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.will-deliver {
  background-color: #393e46;
}

.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  background-color: #212529;
  box-shadow: none;
}

.btn-check:checked + .btn-primary {
  background-color: #00adb5;
  box-shadow: none;
}
