.page-header {
  display: flex;
  justify-content: space-between;
  background-color: #222831;
  color: #eee;
}

.header-title {
  font-size: 3rem;
}

.header-left {
  margin-left: 50px;
}

.header-right > ul {
  display: flex;
  list-style: none;
  margin-right: 50px;
  margin-bottom: 0;
}

.nav-items {
  padding: 20px;
  font-size: 1.5rem;
  color: #eee;
  font-style: none;
}

.nav-items:hover {
  background-color: #393e46;
}

.active {
  color: black;
  background-color: #00adb5;
}

@media screen and (max-width: 768px) {
  .nav-list {
    width: 100%;
  }
}
