.message-container {
  width: 80%;
}

.form-control {
  resize: none;
}
.btn {
  background-color: #00adb5;
  border: none;
}

.btn:hover {
  background-color: #00ffff;
  color: #393e46;
}

.btn:focus {
  background-color: #393e46;
  box-shadow: none;
}
