.posts {
  display: flex;
}

.post-card {
  display: flex;
  flex-direction: column;
  flex-basis: 200px;
  margin: 20px;
  padding: 15px;
  background-color: grey;
  box-shadow: 2px 2px 5px rgba(0, 110, 255, 0.726);
}

.post-title {
  font-size: 1.3rem;
  margin-bottom: 20px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.post-description {
  color: rgb(226, 226, 226);
}
