hr {
  width: 70%;
}

.login-profile {
  margin: 20px;
  padding: 25px;
  border: 2px solid black;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #393e46;
  color: #eee;
}

.profile-name {
  font-size: 3rem;
  margin: 20px;
  text-align: center;
}

.profile-head-stats {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 30px;
  padding: 15px;
}
.message-count {
  background-color: #00adb5;
  border-radius: 10px;
  padding: 2px 5px;
}

.post-count {
  background-color: #00adb5;
  border-radius: 10px;
  padding: 2px 5px;
}

.profile-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-body {
  margin: 15px;
}

.user-posts {
  margin: 15px;
}
