hr {
  width: 70%;
}

.login-profile {
  margin: 20px;
  padding: 25px;
  border: 2px solid black;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #393e46;
  color: #eee;
}

.profile-name {
  font-size: 3rem;
  margin: 20px;
  text-align: center;
}

.profile-head-stats {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 30px;
  padding: 15px;
}
.message-count {
  background-color: #00adb5;
  border-radius: 10px;
  padding: 2px 5px;
  color: #222831;
}

.post-count {
  background-color: #00adb5;
  border-radius: 10px;
  padding: 2px 5px;
  color: #222831;
}

.profile-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-body {
  margin: 15px;
}

.view-messages {
  margin: 20px;
}

.new-post-btn {
  margin-top: 20px;
  display: inline-block;
  padding: 0.7em 1.7em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #eee;
  margin-top: 30px;
  background-color: #00adb5;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
    inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  text-align: center;
  position: relative;
}
.user-posts {
  display: flex;
  justify-content: center;
}

.profile-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.user-posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
