hr {
  width: 70%;
}

h5 {
  margin: 0;
}

/********************** general Divs / layout stuff ******************/

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #393e46;
  color: #eee;
}

.profile-name {
  color: #00adb5;
  font-size: 3rem;
  margin: 20px;
  text-align: center;
}

.profile-head-stats {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 30px;
  padding: 15px;
}

.msg-post-count {
  background-color: #00adb5;
  color: #eee;
}

.profile-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.profile-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.user-post-btns {
  display: flex;
  gap: 20px;
}

/******************************** Post Card ***************************/

#profile-post-title {
  font-size: 2rem;
  text-align: center;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

#profile-card-body {
  align-items: center;
}

#profile-card-body h3 {
  font-size: 1.75rem;
  font-style: italic;
}

.profile-highlight {
  font-size: 2rem;
}

/******************************** buttons ***************************/

.btn {
  background-color: #00adb5;
  font-weight: 600;
  border: none;
}

.btn:hover {
  background-color: #00ffff;
  color: #393e46;
}

.btn:focus {
  background-color: #393e46;
  color: #eee;
  box-shadow: none;
}

.new-post-btn {
  padding: 0.4em 1.7em;
  border-radius: 0.2em;
  font-family: 'Roboto', sans-serif;
  color: #eee;
  background-color: #00adb5;
}

.log-out-btn {
  width: 50%;
  padding: 0.4em 1.7em;
  border-radius: 0.2em;
  font-family: 'Roboto', sans-serif;
  color: #eee;
  background-color: #00adb5;
}

.delete-post-btn {
  width: 50%;
  padding: 0.4em 1.7em;
  border-radius: 0.2em;
  font-family: 'Roboto', sans-serif;
  color: #eee;
  background-color: #00adb5;
}

.edit-post-btn {
  width: 50%;
  padding: 0.4em 1.7em;
  border-radius: 0.2em;
  font-family: 'Roboto', sans-serif;
  color: #eee;
  background-color: #00adb5;
}
