.single-post-container {
  margin-top: 100px;
  min-width: 50%;
  color: #eee;
}

.message-btn.posters-name {
  display: flex;
  flex-direction: column;
}

.delete-post-btn.delete-single-btn {
  width: auto;
  margin: 0;
}

#single-post-title {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
